<h2>Eventos</h2>
<div class="form-inline">
  <div class="d-flex align-items-center form form-control mb-2">
    <label class="mr-2">Filtro: </label>
    <input
      type="text"
      class="form-control mx-2"
      placeholder="Buscar"
      [(ngModel)]="filterList"
    />
  </div>
</div>
<table class="table table-striped">
  <thead class="table table-dark">
    <tr>
      <th>
        <button
          type="button"
          class="btn btn-outline-light btn-sm"
          (click)="toggleImage()"
        >
          {{ !showImage ? "Ocultar" : "Exibir" }}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of filtredEvents">
      <td>
        <img
          [collapse]="showImage"
          [isAnimated]="true"
          src="/assets/{{ item.imagemURL }}"
          alt="Imagem do Evento"
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
        />
      </td>
      <td>{{ item.eventoId }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>{{ item.lote }}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm m-2">Editar</button>
        <button type="button" class="btn btn-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>
